.store-breadcrumbs {
  .breadcrumb {
    background: transparent;
    padding: 10px 0;
  }

  .breadcrumb-item + .breadcrumb-item::before {
    padding: 0px 1.5rem;
  }

  .breadcrumb-item.active {
    font-weight: 300;
    color: #0c0d36;
  }

  a {
    color: #979797;
  }
}
